.break-word {
  word-break: break-word;
}
.active {
  color: $primary;
}

.title {
  position: relative;
  &-sub {
    position: relative;
    line-height: 0.63;
    padding-right: 6.2vw;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: $secondary;
    }
  }
  &-main {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 8vw;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
.lines {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 180px;
    background-color: $dark;
    top: 60%;
    left: 42%;
    @include pad {
      top: 40%;
    }
    @include phone {
      top: 60%;
    }
  }
}
.btn {
  .disabled {
    border: 0;
  }
}

.square-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.imgHover {
  position: relative;

  &::before {
    position: absolute;
    content: "more detail";
    color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    opacity: 0;
    transition: all 0.4s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Noto Serif TC", serif;
    letter-spacing: 4px;
  }
  &:hover {
    &::before {
      background: rgba(27, 24, 23);
      opacity: 0.6;
      letter-spacing: 2px;
    }
  }
}

.mask {
  position: relative;
  // height: 100%;
  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    background: $secondary-light;
    width: 100%;
    height: 100%;
  }
}

//讀取動畫start
.loading-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $secondary;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.btn-outline-primary {
  &:hover {
    color: $light;
  }
}

.hover-text-primary {
  transition: all 0.3s;
  &:hover {
    color: $primary;
  }
}
.hover-border-primary {
  &:hover {
    border-color: $primary;
  }
}

.swal-custom {
  top: 64px !important;
  right: 0 !important;
}

.char {
  transform: translateY(80px);
  transition: transform 0.5s;
}
.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
