// 使footer置底 start
html,body{
    height: 100%;
    margin: 0;
}
body {
    display: flex; /*使物件依序排列*/
    flex-direction: column; /*使物件垂直排列*/
  }
main{
        flex-grow: 1; /*可佔滿垂直剩餘的空間*/
        background-color: $body-bg;
}
// 使footer置底 end

body{
    font-weight: 400;
    line-height: 1.5;
}


a{
    text-decoration: none;
    color: inherit;
    display: block;
}     
// a{  
//     display: block;
//     color: inherit;
//     &:hover{
//         color: inherit;
//     }
// }

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, h4, h5, h6,ul,ol,p{
    margin: 0;
}

ol, ul {
	list-style: none;
    padding-left: 0;
}
textarea{
    resize: none;
}

input{
    // 取消ios預設樣式
    appearance: none;
}
input[type="checkbox"]{
    appearance: checkbox;
}

input[type="radio"]{
    appearance: radio;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



