// 不要去改node bootstrap.utilities
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false
        )
      ),
    "object-fit": (
      property: object-fit,
      class: object,
      values: cover
    ),

    "height": (
      property: height,
      responsive: true,
      class: h,
      values: (
        1:  1px,
        2n: 8px,
        3n: 12px,
        4n: 16px,
        5n: 20px,
        8n: 32px,
        12n: 48px,
        25: 25%,
        60: 60%,
        50: 50%,
        75: 75%,
        100: 100%,
        100vh: 100vh,
        auto: auto
      )
  ),
  )
);
